<div class="card-container"  *ngFor="let i of serviceForm">
  <div class="l-card__user" (click)="downloadFile(i.files,i.fileName)">
    <div class="l-card__userImage">
      <img src="/assets/img/document.png" alt="...">
    </div>
    <div class="l-card__userInfo" >
      <span>{{ i.fileName }}</span>
    
    </div>
  </div>
  <main class="main-content">
    <h1>{{i.serviceName}}</h1>
    <p>{{i.requirement}}</p>
    <div class="flex-row">
      <div class="time-left">
        <img src="https://i.postimg.cc/prpyV4mH/clock-selection-no-bg.png" alt="clock" class="small-image"/>
        <p>{{ i.date  }}</p>
      </div>
    </div>
  </main>
  <div class="card-attribute">
    <img [src]="getImageUrl(getAdminByEmail(i.emailAdmin))" style="border-radius: 50%; width: 20%;" alt="">
    <div style="margin-left: 10px;">
    <p> {{getAdminByEmail(i.emailAdmin)?.first}}</p>
   </div>
  </div>
  <div class="button-container">      
    <button class="btn btn-primary" *ngIf="i.status === 'finished'" (click)="changeStatus(i.id,'accepted')" >accept</button>

      <button class="btn btn-primary" *ngIf="i.status === 'finished'" (click)="changeStatus(i.id,'rejected')">reject</button>


  </div>
</div>
