
// * {
// 	padding: 0;
// 	margin: 0;
// 	box-sizing: border-box;
// }



// img {
// 	width: 100%;
// 	height: auto;
// }

// .l-card {
//   display: flex;
//   flex-direction: column;
//   background: white;
//   border-radius: 12px;
//   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
//   margin: 100px;
//   padding: 30px;
//   overflow: hidden;
//   width: 300px;
//   position: relative; 
// }

// .l-card__text p {
// 	font-size: 30px;
// 	font-family: "Vollkorn", serif;
// 	font-weight: 400;
// 	color: #3f3f55;
// 	text-align: left;
// }

// .l-card__text p::after {
// 	content: "\201D";
// 	display: inline;
// 	color: #999;
// }

// .l-card__text p::before {
// 	content: "\201C";
// 	display: inline;
// 	color: #999;
// }

// .l-card__user {
// 	display: flex;
// 	flex-direction: row;
// 	padding-top: 24px;
// 	margin-top: 12px;
// 	/* border-top: 1px solid #c1c1c1; */
// 	align-items: center;
// }
// .l-card__userImage {
// 	width: 42px;
// 	height: 42px;
// 	overflow: hidden;
// 	border-radius: 50%;
// }

// .l-card__userImage img {
// 	width: 100%;
// 	height: 100%;
// 	object-filt: cover;
// }

// .l-card__userInfo {
// 	display: flex;
// 	flex-direction: column;
// 	margin-left: 16px;
// }

// .l-card__userInfo span:nth-child(1) {
// 	font-weight: bold;
// 	font-family: sans-serif;
// 	font-size: 14px;
// 	color: #3f3f55;
// }
// .l-card__userInfo span:nth-child(2) {
// 	color: #adada6;
// 	font-family: sans-serif;
// 	font-size: 12px;
// 	margin-top: 2px;
// }
// .card-container {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
// }



// .l-card__text {
//   padding: 20px;
// }

// .l-card__text p {
//   margin: 0;
// }

// .l-card__user {
//   display: flex;
//   align-items: center;
//   padding: 20px;
//   background: #f5f5f5;
// }
// .btn {
//   border: none;
//   padding: 12px 24px;
//   border-radius: 24px;
//   font-size: 12px;
//   font-size: 0.8rem;  
//   letter-spacing: 2px;  
//   cursor: pointer;
//   width: 100px;
//   height: 40px;
// }
// .button-container {
//   display: flex;
//   justify-content: space-between;
//   margin-top: 10px; /* Optional spacing between buttons and card content */
// }

// .btn + .btn {
//   margin-left: 10px;
  
// }
// .l-card__userImage img {
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
// }

// .l-card__userInfo {
//   margin-left: 15px;
// }
// .l-card__header {
//   display: flex;
//   justify-content: space-between; /* Add this */
//   align-items: center; /* Add this */
//   padding: 10px 20px; /* Adjust padding as needed */
//   background-color: #f5f5f5; /* Add background color for header */
// }
// .l-card__status {
//   background-color: rgb(79, 117, 243);
// }
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800%7CRaleway:100,200,300,400,600,700,800,900%7CMontserrat:100,200,300,400,500,600,700,800,900');

// Variables
$font-family-base : 'Raleway', sans-serif;
$font-family-head-base : 'Nothing You Could Do', cursive; // Custom
$font-family-lead-base : 'Montserrat', sans-serif; // Custom
// colors
$white:    #fff !default;
$warning : #ffc107;
// Font Weight Base
$font-weight-light:           100 !default;
$font-weight-normal:          500 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          900 !default;
// Box Shadow Placeholer and Class
// -- Placeholder -- box shadow default
%box-shadow {
	box-shadow: 0px 0px 18px -3px rgba(143, 143, 143, .50);
}
%box-shadow-hover {
	box-shadow: 0px 0px 20px -3px rgba(143, 143, 143, .75);
}
// -- Placeholder -- box shadow dark
%box-shadow-dark {
	box-shadow: 3px 3px 11px -3px rgba(0, 0, 0, .25);
}
%box-shadow-dark-hover {
	box-shadow: 3px 3px 11px -3px rgba(0, 0, 0, .75);
}
// -- Class Default -- Box Shadow Default Class
.box-shadow {
	@extend %box-shadow;
}
// -- Class Dark -- Box Shadow Dark Class
.box-shadow-dark {
	@extend %box-shadow-dark;
}

body { background-color: yellow; font-family: 'Open Sans', Arial, Verdana; }
section { padding-top: 2rem; padding-bottom: 2rem; }
h6 { color: #990000; }
// Adding font-weight-bolder
.font-weight-bolder {
  font-weight: $font-weight-bolder;
}
// Display override
.display-1, .display-2, .display-3, .display-4 {
  font-weight: 900;
}
.heading {
	&-big {
		font-weight: 800;
		text-transform: uppercase;
		color: red;
		margin: 0;
		padding: .15rem 0;
		line-height: 1.2;
		font-size: 2rem;
		&-square { padding: 1rem 1rem; border: 10px solid red; margin: .5rem auto 1rem auto; }
		transition: color .5s ease-in, border-color .5s ease-in-out;
		&:hover {
			color: #ff9900;			
			border-color: #ff9900;
		}
	}
}

.card {
  transition: .5s ease;
  border-radius: 0;
  transform: perspective(3em) rotateX(0deg) rotateY(-1.175deg) rotateZ(-1deg);
  &-header {
    border-radius: 0;
  }
  &-footer {
    padding-top:1rem;
    padding-bottom:1rem;
  }
  &-header, &-footer {
    transition: .5s ease;
  }
  &:hover {
    @extend %box-shadow-hover;        
    border-color:darken($warning,0%);
	 transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    .card-header, .card-footer {
      color: darken($warning,15%);
      border-color: darken($warning,0%);
      background-color: lighten($warning,35%);
    }
    .promotion-promo {
      transform: scale(1.175) translateY(2.5px);
      transform-origin: left center;
    }
    .promotion-price {
      transform: translate(2.5px,17.5px) scale(1.15);
      transform-origin: center right;
    }
  }
  &-body {
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .btn {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.promotion {
  &-promo {
		font-weight: $font-weight-bold;
		font-size: 1.15rem;
		color: $warning;
		font-family: $font-family-lead-base;
		text-decoration: line-through;
		transition: .25s linear;
	}
  &-price {
		position: absolute;
		bottom: 0;
		right: 0;
		background: $warning;
		width: 92px;
		height: 92px;
		padding-bottom: 0rem;
		padding-top: 1.25rem;
		text-align: center;
		font-weight: $font-weight-bold;
		font-family: $font-family-lead-base;
		font-size: 1.1rem;
		border-radius: 5rem;
		color: $white;
		z-index: -1;
		transform: translate(5px,27.5px) rotate(-9deg);
      border: 1px dashed $white;
      transition: .25s linear;
      line-height: 1.15;
    &-desc {
      padding: 0;
      margin: 0 auto;
      text-transform: uppercase;
      font-size: .9rem;
      display: block;
    }
    &-text { 
      padding: 0;
      margin: 0 auto;
      font-weight: $font-weight-bolder;
    }
	}
}

.card-animate {
	counter-reset: section;
	.card-body {
		&:before {
			transition: .5s ease;
			counter-increment: section;
			content: "" counter(section) "";
			display: block;
			font-size: 15rem;
			font-weight: 900;
			position: absolute;
			bottom: 5rem;
			line-height: 0;
			left: -.85rem;
			padding: 0;
			margin: 0;
			color: rgba(0,0,0,.10);
			z-index: 0;
		}
	}
	.card {
		&:hover {
			.card-body {
				&:before {
					transform: translate(10px,-10px);
				}
			}
		}
	}
	.card-text {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.card-title {
		font-weight: 900;
		text-transform: uppercase;
	}
}

